html, body{
    margin: 0;
    padding: 0;
}
body{
    background: white;
}
.header{
    background: black;
    min-height: 60px;
}
.wrapper{
    margin: 0 auto;
    width: 1000px;
}
.wrapper:after{
    content: "";
    display: table;
    clear: both;
}
.logo{
    float: left;
    display: block;
    padding: 15px 0 22px 0;
}
.top-menu{
    float: left;
    width: 840px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    
}
.top-menu li{
    display: inline-block;
    
}
.top-menu li a{
    display: block;
    padding: 15px 5px 15px 5px;
    margin-right: 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
     
}
.top-menu li a:hover{
    box-shadow: 0 7px 0 0 #3164d4;
}
.account-menu{
    float:right;
    margin-top: 15px;
}
.account{
    display: block;
    width: 32px;
    height: 32px;
    background: url(images/account.png);
}
.mask{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
.theme-of-day-section{
    width: 100%;
    height: 378px;
    background: url(images/Layer-14.png) no-repeat center;
}

.data-section{
    width: 100%;
    min-height: 354px;
    background: url(images/Rectangle-14.png);
    padding-top: 1px;
}
.data-header{
    min-height: 50px;
    margin-top: 29px;
    margin-bottom: 20px;
}
.data-section-title{
    float:left;
    font-size: 22px;
}
.data-btn-add{
    float: right;
    width: 130px;
    height: 40px;
    background-color: rgb(235,239,241); 
    border: 2px solid rgb(176,205,216);
    border-radius: 5px;
    font-size: 20px;
    color: rgb(0,118,179);
    text-align: center;
    line-height: 36px;
   
}
.data-btn-all{
    float: right;
    width: 130px;
    height: 40px;
    position: relative;
    
}
.data-btn-all:after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 100px solid black;
    border-top: 100px solid blue;
    border-bottom: 100px solid blue;
}